.Error {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 250%);
  z-index: 1111111111;
  margin: auto auto;
  background-color: #8e919b;
  transition: 300ms all;
  text-align: center;
  padding: 2rem;
  border-radius: 20px;
  background: #d103f1;
  box-shadow: 5px 5px 100px #ff03e299;
}
